<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Parcel Form</title>
    <link href="Content/css/styles.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <form action="/cost">
      <label for="height">Length: (in)</label>
      <input id="height" name="height" type="number"><br>
      <label for="width">Width: (in)</label>
      <input id="width" name="width" type="number"><br>
      <label for="width">Height: (in)</label>
      <input id="" name="" type="number"><br>
      <label for="weight">Weight: (oz)</label>
      <input id="weight" name="weight" type="number"><br>
      <button type="submit">Calculate</button>
    </form>
  </body>
</html>
