<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Parcel Form</title>
    <link href="Content/css/styles.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <p>Length: @Model.myParcelVariables.Length</p>
    <p>Width: @Model.myParcelVariables.Width</p>
    <p>Height: @Model.myParcelVariables.Height</p>
    <p>Weight: @Model.myParcelVariables.Weight</p>
  </body>
</html>
